/app/release
/app/debug
*.aab
*.apk
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
*/build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/java/me/msile/app/androidapp/common/database/greendao/
screenMatch.properties
screenMatch_example_dimens.xml